/*ESTILOS GENERALES PARA TODAS LAS PÁGINAS*/
* {
    Margin: 0; padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
main {
    display: flex; align-items: left; padding: 10%;
}
.footer-flex {
    display: flex; flex-direction: row;
    justify-content: center; 
    align-self: center; margin: 2%; padding: 1%;
    max-width: 100%; flex-wrap: wrap;
}
body {
    height: 1200px;
}
.bodyQuienes, .bodyHaceteCliente, .bodyServicios, .bodyContacto {
    background-color: white;
    background-image: none;
}
.header-flex { /* SE AGREGÓ GRADIENTE*/
    border-color: none;
    border-width: 0px; border-style: none;
    background-color: #22549e; 
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 7,5rem;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap; 
    background-image: linear-gradient(to bottom, blue, rgb(105, 119, 197));
}   
#logo {
    width: 4rem; height: 4em;
    border-width: 1px; border-color: black; border-style: solid;
    margin: 1%;
}

#textoNombreCeleste {
    text-align: center;
    font-family: Comic-sans, sans-serif; font-size: 150%; 
    font-style: normal; font-variant: normal; font-weight: bold; 
    line-height: 130%; color: white; background-color: #2A98D0; 
    background-size: auto; padding: 1%; margin-top: 0%; margin-bottom: 0%; 
    margin-right: auto; margin-left: 15%;
    height: 6%;
    width: 8.75rem;
} 
#slogan {
    display: inline-block;
    font-family: Comic-sans, sans-serif; font-size: 90%; 
    font-style: normal; font-variant: normal; font-weight: bold; 
    line-height: 120%; color: #2ACAD0; text-decoration: underline; padding: 0.5%;
    margin-top: 0%; margin-bottom: 0%; margin-right: 1%; margin-left: 1%;
} 
.menu { 
    width: 50%;
    animation-name: animacionMenu;
    animation-duration: 4s;
    animation-iteration-count: 4;
}
.nav {
    padding: 5px;
    background-color: antiquewhite;
    text-align: center;
    display: inline;
}
ul.nav > li {
    display: inline-block;
    padding: 12px 20px;
}
ul.nav > li:hover {
    background-color: #2A98D0;
}
li.active {
    background-color: #2ACAD0;
}
.negrita {
    font-weight: bold;
}
h1 
{ font-family: Verdana, Geneva, sans-serif; font-size: 100%; 
    font-style: normal; font-variant: normal; font-weight: bold; 
    line-height: 130%; 
} 
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../Bancafacil/Fonts/Roboto/Roboto-Regular.ttf');
}
/*INSTRUCCIONES DE PÁGINA INDEX*/
.landing-text {
    height: auto; 
    width: 25rem;
    background-color: white;  border-color: black; border-width: 2px;
    border-style: solid;
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    animation-duration: 3s;
    animation-name: slidein;
    position: relative; right: 3%;
}
.strongbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative; right: 1%;
}
.landing-text:hover { /* ESTA SON LAS ANIMACIONES DEL LANDING TEXT DENTRO DEL CUADRO DE INDEX.HTML, CAMBIA DE COLOR AL POSAR EL MOUSE 
    y viene desde la derecha*/
background-color: #2ACAD0;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
.topnav {
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    background-color: antiquewhite;
    padding: 0%;
}
@keyframes animacionMenu { /* ESTA ES LA ANIMACION DEL MENÚ*/
    0%   {background-color: antiquewhite;}
    25%  {background-color: rgb(7, 19, 92);}
    50%  {background-color: rgb(11, 199, 206);}
    100% {background-color: rgb(148, 156, 255);}
    }
}
.imagenContexto {
    position: relative;
    top: 50%;
    left: 0%;
    display: flex; align-items: left;
}
#iconosFinales {
    width: 80%;
    align-items: center;
    padding: 5px;
    background-color: none;
}
.espacio { visibility: hidden;}
.main-flex > div {
        cursor: pointer;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: all 0.5s ease-in;
}
.main-flex-contacto > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main-flex { background: url("./imagenes/abuenotebook.png");
}
.final #iconosFinalesContacto {
    position: relative;
    top: 50%;
}
#textoFooterIndex, #textoFooterContacto {
    display: flex; flex-direction: row;
    justify-content: center; 
    margin: 0%; padding: 0%;
    max-width: 500px; flex-wrap: wrap;
    font-size: 130%; 
    font-style: normal; font-variant: normal; font-weight: bold;
}
/* INSTRUCCIONES ESPECIFICAS DE PÁGINA CONTACTO*/
#tituloContacto {
display: flex;
text-align: center;
flex-direction: column;
color: #286cc5;
margin: 0.5%;
animation-name: colortexto;
animation-duration: 2s;
animation-iteration-count: infinite;
}
#callCenterImagen {
    display: flex;
    align-content: center;
    flex-direction: column;
    color: #286cc5;
    border-width: 1px; border-color: black; border-style: solid;
    border-radius: 25px;
    margin: 1%;
    width: 90%; height: auto; min-height: 150px;
    animation-name: rotar;
    animation-duration: 4s;
}
.formulario-contacto {
    border-color: black;
    border-width: 2px; *border-style: solid;
    height: 150px; width: 350px;
    padding: 2%;
    margin: 0.5%;
    text-align: left; color: black;    
}
.formulario-contacto-mensaje {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 270px; width: 310px;
    padding: 0%;
    margin: 1%;
    text-align: center; color: black;    
    animation-duration: 3s;
    animation-name: slidein;
}
#servirteMensaje {
    border-color: black;
    border-width: 2px; border-style: solid;
}
#botonesContacto {
    position: relative;
    top: 40px;
}
#iconosFinalesContacto {
    height: 70px;
    width: 60%;
    padding: 5px;
    display: flex;  flex-direction: row; 
    justify-content: center;
    flex-wrap: wrap;
}
.containerContacto, .containerVolver {
    width: 100%;
    height: 110px;
    display: flex;  flex-direction: row; 
    justify-content: center;
    flex-wrap: wrap;
}
@keyframes colortexto { /*ANIMACIÓN DE CAMBIO DE COLOR DEL TEXTO "CONTACTO"*/
    from {color: #286cc5;}
    to {color: red}
}
@keyframes rotar { /*ANIMACIÓN DE ROTACIÓN DE LA IMAGEN DE PÁGINA CONTACTO*/
    from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}
/*ANIMACIÓN DEL TIPEO ¿En qué podemos servirte?*/
.typewriter {
    overflow: hidden;  
    border-right: .15em solid blue; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
        tipeo 6.5s steps(40, end),
        parpadeo-cursor 1.75s step-end infinite;
}
@keyframes tipeo {
    from { width: 0 }
    to { width: 100% }
}
@keyframes parpadeo-cursor {
    from, to { border-color: transparent }
    50% { border-color: blue; }
}
.botonvolver {
    width: 250px;
    height: 30px;
    margin: 5px;
    padding: 8px;
    position: relative;
    bottom: 20px;
    display: flex; flex-wrap: wrap; flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0%; padding: 0%;
}